/*@media (min-width: 768px)*/

html, body {
    height: 100% !important;
    width: 100% !important;
}

/*.content {
    min-height: 0 !important;
}*/

.content-wrapper {
    min-height: 0 !important;
    height: calc(100% - 50px - 51px ) !important;
}

.wrapper{
    height: 100% !important;
}

.main-sidebar{
    height: 100%;
    overflow: auto;
}

@media (max-width: 767px) {
    .content-wrapper {
        height: calc(100% - 100px - 51px ) !important;
    }
}

